
<head>
    <title>Display</title>

    <link href="~/Content/css/zzsc.css" rel="stylesheet" />
</head>
<body>

    <div class="cen">
        <div class="display">Display</div>



        <div class="content_dis">
            <div class="loc">您所在<span class="hb">华盛顿州</span>:</div>


            <div class="num"><span>男性</span>的患病概率是：<span class="hb1">2%</span></div>
            <div class="num"><span>年龄</span>的患病概率是：<span class="hb2">2%</span></div>
            <div class="num"><span>收入</span>的患病概率是：<span class="hb3">2%</span></div>
            <div class="num">更具您的个人信息，您的BMI为：<span class="hb4">2%</span></div>
            <div class="pos">您得肥胖症的几率是: <span class="hb5">2%</span></div>





            <div class="tips">Tips:</div>

            <div class="atten">请注意身体健康！</div>

        </div>

    </div>
    <!-- footer -->
    <div id="footer"></div>
    <!-- /footer -->



</body>
</html>